* {
    box-sizing: border-box !important;
}

body div {
    .main-color { color: $main-color !important; }
    .main-color-bg { background-color: $main-color !important; }
    .accent-color { color: $accent-color !important; }
    .accent-color-bg { background-color: $accent-color !important; }
    .second-color { color: $second-color !important; }
    .second-color-bg { background-color: $second-color !important; }
    .text-shadow { text-shadow: $shadow; }
    .shadow { box-shadow: $shadow; }
    .hidden { display: none !important; }
    .no-margin { margin: 0 !important; }
    .no-margin-v { margin-top: 0 !important; margin-bottom: 0 !important; }
    .no-margin-h { margin-left: 0 !important; margin-right: 0 !important; }
    .no-padding { padding: 0 !important; }
    .no-padding-v { padding-top: 0 !important; padding-bottom: 0 !important; }
    .no-padding-h { padding-left: 0 !important; padding-right: 0 !important; }
    .spinner-blue { border-color: #0f3055; }
    .spinner-light-blue { border-color: #145d65; }
    .spinner-light-green { border-color: #069172; }
    .spinner-green { border-color: #02ba6a; }
    .pointer { cursor: pointer; }
}

div#toast-container > div.toast {
    width: fit-content;
    max-width: 90vw;
    padding: 8px 30px;
    text-align: center;
    border-radius: 200px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(141deg, rgba(20, 93, 101, 0.5) 0%, rgba(6, 145, 114, 0.5) 20%, rgba(2, 186, 106, 0.5) 80%);
    background-color: white;
    -webkit-box-shadow: 0 0 3px $main-color;
    box-shadow: 0 0 3px $main-color;

    &.error {
        background: linear-gradient(141deg, rgba(15, 51, 88, 0.4) 0%, rgb(159, 30, 28) 60%);
        background-color: rgb(159, 30, 28);
    }
    &.success {
        background: linear-gradient(141deg, rgba(15, 51, 88, 0.4) 0%, rgb(54, 212, 99));
        background-color: rgb(54, 212, 99);
    }
}
